*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --gridRows : 256;
    --gridColumns: 256;
    --sideLength: 16;
}


body{
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2em;

}
.btn-reset{
    padding: 1em 2em;
    border-radius: 8px;

}
.container{
    /* width: min(300px, 1100px);
    height: min(300px, 1100px); */
    width: 500px;
    height: 500px;
    border: 5px solid #111;
    /* display: flex;
    flex-flow: row wrap;
    gap: 0; */
    background-color: #999;
    display: grid;
    grid-template-columns: repeat(var(--sideLength),1fr);
    grid-template-rows: repeat(var(--sideLength), 1fr);
    grid-gap: 0;
    padding: 0;
}
.box{
    /* height: 5px;
    width: 5px; */
     border-right: 1px solid black;
    border-bottom: 1px solid black; 
    margin: 0 -1px -1px 0;
   /* padding: 7px; */
    margin-right: -1px;


}

/* .box:hover{
    background-color: red;
} */